#about {

    header {
    display: flex;

    gap: 0.75rem;
    align-items: center;

    font: var(--heading-sm);
    color: var(--text-reading);

    margin-bottom: 1.625rem;
    }

    .grid {
        display: grid;
        grid-template-areas:
        "A A"
        "B C"
        "D E"
        "F F";
        gap: 1rem;
    }

    .textinput:nth-child(1) {
        grid-area: A;
    }
    .textinput:nth-child(2) {
        grid-area: B;
    }
    .textinput:nth-child(3) {
        grid-area: C;
    }
    .textinput:nth-child(4) {
        grid-area: D;
    }
    .textinput:nth-child(5) {
        grid-area: E;
    }
    .textinput:nth-child(6) {
        grid-area: F;
    }

    .textinput {

        display: flex;
        flex-direction: column;

        input {
            width: 100%;

            border: 1px solid var(--input-stroke);
            background-color: var(--input-base);

            height: 3rem;

            border-radius: .5rem;

            &::placeholder {
                font: var(--body-md);
                color: var(--input-placeholder);
                padding-block: 0.8125rem;
                padding-left: 1rem;
            }

        }

        input[type="date"] {
            font: var(--body-md);
            color: var(--input-placeholder);
            padding-block: 0.8125rem;
            padding-left: 1rem;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }

        >label {
            font: var(--body-sm);
            color: var(--text-body);

            margin-bottom: 0.75rem;
        }

        textarea {
            border: 1px solid var(--input-stroke);
            background-color: var(--input-base);
            border-radius: .5rem;
            height: 8.5rem;

            margin-bottom: 3rem;

            &::placeholder {
                font: var(--body-md);
                color: var(--input-placeholder);
                padding-block: 0.8125rem;
                padding-left: 1rem;
            }
        }
    }

    #tipo {
        display: flex;
        flex-direction: row;

        width: 100%;

        border: 1px solid var(--input-stroke);
        background-color: var(--input-base);

        height: 3rem;

        border-radius: .5rem;
    }

    .type-option {
        display: flex;
        cursor: pointer;

        align-items: center;

        padding-inline: 1.9375rem;
        gap: .5rem;

        p {
            font: var(--body-sm);
            color: var(--input-placeholder);
        }
    }

    .type-option:has(input:checked) {
        background-color: var(--shape-button);
        padding: auto;
        margin: .25rem;
        border-radius: .25rem;

        p {
                font: 600 14px 'open sans', sans-serif;
                color: var(--text-reading);
        }

        svg path {
            stroke: var(--brand-light);
        }
    }

    #presencial {
        display: none;
    }

    #online {
        display: none;
    }
}

#personalization {

    header {
    display: flex;

    gap: 0.75rem;
    align-items: center;

    font: var(--heading-sm);
    color: var(--text-reading);

    margin-bottom: 1.625rem;
    }



    #colors{
        margin-bottom: 1.75rem;

        input {
            display: none;
        }

        :nth-child(1) {
            font: var(--body-sm);
            color: var(--text-body);
        }

        #circles {
            display: flex;
            gap: .75rem;
            margin-top: 1rem;

            label {
                cursor: pointer;
            }

            .color-option:has(input:checked) {

                img {
                    outline: 4px solid var(--brand-dark);
                    border-radius: 50%;
                }
            }
        }
    }



    #theme {

        font: var(--body-sm);
        color: var(--text-body);

        input {
            display: none;
        }

        #cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: .5rem;

            margin-top: 1rem;
            margin-bottom: 1.75rem;

            label {
                cursor: pointer;
            }

            .card {
                background-color: var(--shape-button);
                border: 1px solid var(--input-stroke);
                border-radius: .5rem;

                img {
                    width: 100%;
                }

                p {
                    display: flex;
                    justify-content: center;
                    margin-block: .5rem;
                    margin-inline: .25rem;
                }
            }

            .card:has(input:checked) {
                outline: 2px solid var(--brand-light);
            }
        }

    }
}